<div class="page-header">
  <div class="page-actions">
    <%= link_to 'New Build', new_build_path, :class => "button" %>
  </div>
  <div class="page-title">
    <% if @project %>
      <h1>Builds for <span><%= @project.repo %></span></h1>
      <%= link_to "Configure Project", edit_project_path(@project), :class => "button small" %>
      <%= link_to "View on GitHub", @project.repo_uri, :class => "button small", :target => "_blank" %>
    <% else %>
      <h1><span>All Builds</span></h1>
    <% end %>
  </div>
</div>

<div class="build-list">
  <% @builds.each do |build| %>
    <div class="build build-status-<%= build.status %>">
      <div class="build-actions">
        <%= link_to 'View Details', build %>
      </div>
      <div class="build-info">
        <div class="build-commit"><%= build.project.repo %>@<%= build.sha.truncate(8) if build.sha %></div>
        <div class="build-status"><%= build.status_phrase %></div>
      </div>
    </div>
  <% end %>
</div>
