<div class="page-header">
  <div class="page-actions">
    <%= link_to 'New Build', new_build_path %>
  </div>
  <% if @project %>
    <h1 class="page-title">Builds for <%= @project.repo %></h1>
  <% else %>
    <h1 class="page-title">All Builds</h1>
  <% end %>
</div>

<div class="build-list">
  <% @builds.each do |build| %>
    <div class="build build-status-<%= build.status %>">
      <div class="build-actions">
        <%= link_to 'View Details', build %>
      </div>
      <div class="build-info">
        <div class="build-commit"><%= build.project.repo %>@<%= build.sha.truncate(8) if build.sha %></div>
        <div class="build-status"><%= build.status_phrase %></div>
      </div>
    </div>
  <% end %>
</div>
