<h1>Listing builds</h1>

<%= link_to 'New Build', new_build_path %>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Duration</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr class="build build-status-<%= build.status %>">
        <td><%= build.project.repo %></td>
        <td><%= build.status_phrase %></td>
        <td><%= build.status %></td>
        <td><%= link_to 'Show', build %></td>
        <td><%= link_to 'Edit', edit_build_path(build) %></td>
        <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
