<h1>Listing builds</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Started at</th>
      <th>Completed at</th>
      <th>Successful</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.project_id %></td>
        <td><%= build.started_at %></td>
        <td><%= build.completed_at %></td>
        <td><%= build.successful %></td>
        <td><%= distance_of_time_in_words(build.started_at, build.completed_at) unless build.started_at.nil? || build.completed_at.nil? %></td>
        <td><%= link_to 'Show', build %></td>
        <td><%= link_to 'Edit', edit_build_path(build) %></td>
        <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build', new_build_path %>
