<% build_abort_path = if @project
  then project_builds_path(@project) else root_path end %>

<div class="page-header">
  <div class="page-title">
    <h1>New Build</h1>
  </div>
</div>

<%= form_for(@build) do |f| %>
  <% if @build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build.errors.count, "error") %> prohibited this build from being saved:</h2>

      <ul>
      <% @build.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select :project_id, Project.all, :id, :repo, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label :branch, "Branch to build" %><br>
    <%= f.text_field :branch %>
  </div>

  <div class="actions">
    <%= f.submit "Punch it, Chewie!", class: "button" %>
      or <%= link_to 'Abort and go back', build_abort_path, class: "button" %>
  </div>
<% end %>
