<div class="page-header">
  <div class="page-title">
    <h1><span><%= @build.project.repo %></span> @ <%= @build.branch %></h1>
  </div>
</div>

<dl>
  <dt>Branch</dt>
  <dd><%= @build.branch %></dd>


  <dt>SHA</dt>
  <dd><%= @build.sha || "HEAD" %></dd>

  <dt>Status</dt>
  <dd>
    <span class="js-build-status" data-status="<%= @build.successful %>">
      <%= @build.status_phrase %>
    </span>
  </dd>
</dl>





<pre class="build-output js-build-output" data-uri="<%= build_path(@build, :format => :json) %>">
<%= @build.output %>
</pre>
