<div class="page-header">
  <div class="page-title">
    <h1><span><%= @build.project.repo %></span> @ <%= @build.sha %></h1>
  </div>
</div>

<p>
  <strong>Branch or SHA:</strong>
  <%= @build.sha %>
</p>

<p>
  <strong>Status:</strong>
  <%= @build.status_phrase %>
</p>

<p>
  <strong>Successful:</strong>
  <%= @build.successful %>
</p>

<pre class="build-output">
<%= @build.output %>
</pre>
