<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>

<p>
  <strong>Project:</strong>
  <%= @build.project_id %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @build.started_at %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @build.completed_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @build.status_phrase %>
</p>

<p>
  <strong>Successful:</strong>
  <%= @build.successful %>
</p>

<p>
  <strong>Output:</strong>

<pre class="build-output">
<%= @build.output %>
</pre>

</p>
