<div class="page-header">
  <div class="page-title">
    <h1><span><%= @build.project.repo %></span> @ <%= @build.branch %></h1>
  </div>
</div>

<p>
  <strong>Branch:</strong>
  <%= @build.branch %>
</p>

<p>
  <strong>SHA found from branch:</strong>
  <%= @build.sha %>
</p>


<p>
  <strong>Status:</strong>
  <span class="js-build-status" data-status="<%= @build.successful %>"><%= @build.status_phrase %></span>
</p>

<pre class="build-output js-build-output" data-uri="<%= build_path(@build, :format => :json) %>">
<%= @build.output %>
</pre>
