<% # We should move this sort of logic to a view class %>
<% return_path = if @project.new_record? then root_path else
  project_builds_path(@project) end %>


<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repo, "Repository URL" %><br>
    <span class="description">https://github.com/</span>
    <%= f.text_field :repo, :placeholder => "owner/repository" %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
     or
    <%= link_to "Go Back", return_path, class: "button" %>
  </div>
<% end %>
