<!DOCTYPE html>
<html>
<head>
  <title>DCIY</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic,900italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="app">
    <div class="primary-pane">
      <%= yield %>
    </div>
    <div class="secondary-pane">
      <h1 class="app-name">
        <abbr title="Do Continuous Integration Yourself">DCIY</abbr>
      </h1>
      <ul class="project-filter">
        <li class="project all-builds">
          <%= link_to "All Builds", root_path %>
        </li>
        <% Project.find(:all).each do |project| %>
          <li class="project">
            <%= link_to project.repo, project_builds_path(project) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</body>
</html>
